    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .hero {
        width: 100%;
        height: 30rem;
        display: flex;
        align-items: center;
        background-image: url("/../images/herculesNew.jpg");
        .heroText {
            z-index: 1;
            color: rgb(0, 0, 0);
            margin-left: 8rem;
            text-transform: uppercase;
            font-size: 4rem;
            font-weight: bold;
        }
    }
    
    h4 {
        background-color: rgb(33, 37, 41);
        color: white;
        text-align: center;
        width: 100%;
        padding: 2rem;
    }
    
    .container1 {
        height: 4rem;
        width: 100%;
        position: relative;
    }
    
    #sort {
        position: absolute;
        right: 5%;
        width: 5rem;
        padding: 1rem;
        font-size: 2rem;
        font-weight: bold;
        border: none;
        background-color: white;
    }