* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

nav {
    .navBar {
        width: 100%;
        padding-top: 1rem;
        display: flex;
        flex-wrap: nowrap;
        background-color: black;
        color: white;
        column-gap: 10px;
        justify-content: flex-start;
        #check {
            width: fit-content;
        }
        .planner {
            width: fit-content;
        }
        .bell {
            width: fit-content;
            align-self: flex-end;
        }
        .navLink {
            text-decoration: none;
            color: white;
            width: fit-content;
        }
        #links {
            opacity: 50%;
            width: fit-content;
        }
        #links:hover {
            opacity: 100%;
        }
    }
}

main {
    width: 80%;
}

// footer
.footerNav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 1rem;
    font-size: small;
    i {
        display: inline;
        border: 1px solid white;
        padding: .5rem;
        margin: .1rem;
        // align-items: center;
        // justify-content: center;
    }
    #subscribe {
        // align-items: center;
        // justify-content: center;
        padding: 1rem;
        .textField {
            width: 25%;
        }
        .subButton {
            width: 10%;
            background-color: transparent;
            color: white;
            border: 1px solid white;
        }
    }
}